body{
    /*height: 100vh;
    background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;*/

    /* ShortHand - background: 
        color > img > position > / > size > repeat > attachment ;*/

    background: black url("imagens/wallpaper002.jpg") center center /cover no-repeat fixed;
}
main{
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;

}